.vscode/
busybox64.*
obj/
bin/
lib/**/Microsoft.Xna*.dll
Installer/lib/**/*.dll
Installer/lib/**/*.config
Installer/lib/**/*.exe
Installer/lib/**/*.xml
Installer/lib/**/*.json
Installer/lib/**/*.txt
Installer/lib/**/*.pdb
Installer/lib/runtime.zip
Installer/lib-framework/**/*.dll
Installer/lib-framework/**/*.config
Installer/lib-framework/**/*.exe
Installer/lib-framework/**/*.xml
Installer/lib-framework/**/*.json
Installer/lib-framework/**/*.txt
Installer/lib-framework/**/*.pdb
Installer/lib-old/
Installer/lib-native/
Installer/lib-kick/
artifacts/
lib-stripped/TestDep
PatchVersion.txt
options.json

*.malfunc.*