obj/
bin/
lib/**/Microsoft.Xna*.dll
Installer/lib/**/*.dll
Installer/lib/**/*.config
Installer/lib/**/*.exe
Installer/lib/**/*.xml
Installer/lib/**/*.json
Installer/lib/**/*.pdb
Installer/lib-old/
artifacts/
lib-stripped/TestDep

*.malfunc.*